<!-- The cardview is displaying the weather API request and the wather icon -->

<div class="card" style="width: 15rem;">
  <div class="card-body">
    <center><img src=https://openweathermap.org/img/w/04n.png alt="Weather Icon"></center>
    <h5 style="text-align:center;"><b>Dublin City today</b></h5>
    <h6>Temperature: <%= @weatherTemp %>°C </h6>
    <h6>Feels Like: <%= @weatherTempFeels %>°C </h6>
    <h6>Humidity: <%= @weatherHumidity %>%</h6>
    <!-- <h6>Air Quality: <%= @airQuality %></h6> -->
    <h6>Wind Speed: <%= @windSpeed %> km/h</h6>
  </div>
</div>
